/* TODO Add site wide styles */

/* NavBar Styling */

.nav__bar {
  box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25);
  height: 3em;
  border: 0;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}

.nav__element {
  color: black;
  /* display: flex; */
  /* align-items: center; */
  text-decoration: none;
  padding: 10%;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
}
.nav__element--create {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  max-width: auto;
}

#nav__logo {
  font-family: "Righteous", cursive;
  align-self: center;
  color: rgb(0, 136, 255);
}

.nav__element--searchlog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: inherit;
}

.nav__element--discover {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Project Form Styling */

.projectForm {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.projectForm fieldset {
  border: none;
}

.projectForm legend {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  text-align: center;
}

.projectForm label {
  display: block;
  margin-bottom: 8px;
}

.projectForm input,
.projectForm textarea,
.projectForm select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.projectForm input:focus,
.projectForm textarea:focus,
.projectForm select:focus {
  background: #d2d9dd;
}

.projectForm select {
  height: 35px;
}

.projectForm__submit {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.projectForm button:hover {
  background: #3a59a7;
}

.projectForm__error {
  color: red;
  font-size: 0.75em;
  margin: 0.5em;
}

/* signup form styling*/

.signupForm {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 2em auto;
  padding: 20px;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.signupForm fieldset {
  border: none;
}

.signupForm legend {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  text-align: center;
}

.signupForm label {
  display: block;
  margin-bottom: 8px;
}

.signupForm input,
.signupForm textarea,
.signupForm select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.signupForm input:focus,
.signupForm textarea:focus,
.signupForm select:focus {
  background: #d2d9dd;
}

.signupForm select {
  height: 35px;
}

.signupForm__submit {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.signupForm button:hover {
  background: #3a59a7;
}

.signupForm__error {
  color: red;
  font-size: 0.75em;
  margin: 0.5em;
}

/* login form styling  */

.loginForm {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.loginForm fieldset {
  border: none;
}

.loginForm legend {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  text-align: center;
}

.loginForm label {
  display: block;
  margin-bottom: 8px;
}

.loginForm input,
.loginForm textarea,
.loginForm select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.loginForm input:focus,
.loginForm textarea:focus,
.loginForm select:focus {
  background: #d2d9dd;
}

.loginForm select {
  height: 35px;
}

.loginForm__submit {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.loginForm button:hover {
  background: #3a59a7;
}

.loginForm__error {
  color: red;
  font-size: 0.75em;
  margin: 0.5em;
}

input[type="number"] {
  text-align: right;
}

/* Search Page Styling*/

.searchPage__form {
  box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25);
  height: 5em;
  border: 0;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPage__bar--element {
  color: black;
  text-decoration: none;
  padding: 0.25em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.25em;
}

.searchPage__bar--element input,
.searchPage__bar--element select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  /* margin: 0;
  outline: 0; */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  /* margin-bottom: 30px; */
}

.searchPage__bar--button {
  /* position: relative; */
  display: flex;
  padding: 0.5em 1em 0.5em 1em;
  color: #fff;
  margin: 0.5em;
  background: #5581ee;
  font-size: 1.5em;
  font-style: normal;
  width: auto;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  border-width: 1px;
  height: auto;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/*Search Page */

.searchPage__projects--container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.searchPage__project--scrollTile {
  flex: 1 0 35%;
}

/* Project Page */

#projectDescription {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  font-size: 18px;
  padding: 0px 3em;
  height: 100%;
}

#project__side--grid {
  width: 100%;
  margin: 0;
  padding-left: 4em;
  padding-top: 2em;
}

#projectDonateButton {
  color: white;
  background-color: rgb(20, 144, 20);
  margin-bottom: 40px;
  width: 90%;
}

.projectPage__button--container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#projectDonateButton:hover {
  background-color: rgb(12, 109, 12);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}

#projectDonatorsHeader {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

#projectImage {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  /* padding: 0px 3em; */
  margin-bottom: 1.5em;
}
#projectInfoGrid {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
  margin-bottom: 4em;
}

#projectLocation {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  padding: 0px 12px;
}

#projectNumbers {
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 700;
}

#projectNumbersGreen {
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 700;
  color: rgb(25, 180, 25);
}

#projectNumbersRelations {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
}

#projectTagline {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

#projectTitle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 28px;
  font-weight: 700;
}

#projectTitleGrid {
  margin-bottom: 8px;
}

.projectPage__updateButton {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 100%;
  height: 50%;
}

.projectPage__updateButton:hover {
  background-color: rgb(12, 109, 12);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  height: 50%;
}
#update__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#projectPage__update {
  color: white;
  background-color: rgb(20, 144, 20);

  width: 100%;
  text-decoration: none;
  height: 50%;
}

/* Donation Form Styling */

.donationForm {
  max-width: 300px;
  padding: 5px 10px;
  background: #f4f7f8;
  margin: 5px auto;
  padding: 10px;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.donationForm fieldset {
  border: none;
}

.donationForm legend {
  font-size: 1.5em;
  margin-bottom: 0.75em;
  text-align: center;
}

.donationForm label {
  display: block;
  margin-bottom: 4px;
}

.donationForm input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 15px;
}

.donationForm input:focus {
  background: #d2d9dd;
}

.donationForm__button {
  position: relative;
  display: block;
  padding: 10px 20px 10px 20px;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.donationForm__button:hover {
  background: #3a59a7;
}

.donationForm__input--half {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.donationForm__label {
  margin-right: 1.5em;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  background-color: rgb(0, 136, 255);
  color: #f4f7f8;
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Titillium Web", sans-serif;
}

.footer__names--container {
  display: flex;
  flex: column;
  justify-content: space-between;
}
.footer__icons a {
  padding: 0 0.5em;
}
.footer__icons {
  display: flex;
  justify-content: center;
}

.footer__icons a,
.footer__icons i {
  text-decoration: none;
  color: #d2d9dd;
}

.footer__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 0 5em;
}

.logout__button {
  position: relative;
  display: block;
  padding: 0.5em;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.logout__button:hover {
  background: #3a59a7;
  cursor: pointer;
}

.login__button {
  position: relative;
  display: block;
  padding: 0.25em;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
  text-decoration: none;
}

.button {
  text-decoration: none;
  color: #fff;
}

.login__button:hover {
  background: #3a59a7;
  cursor: pointer;
}

.signup__button {
  position: relative;
  display: block;
  padding: 0.25em;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
  text-decoration: none;
}

.signup__button:hover {
  background: #3a59a7;
  cursor: pointer;
}

.signup__form--button {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1.25em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.signup__form--button:hover {
  background: #3a59a7;
  cursor: pointer;
}

.loginForm__button {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1.25em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.loginForm__button:hover {
  background: #3a59a7;
  cursor: pointer;
}
