/* TODO Add site wide styles */

/* NavBar Styling */
.nav__bar {
  box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25);
  height: 3em;
  border: 0;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}
.nav__element {
  color: black;
  /* display: flex;
  align-items: center; */
  text-decoration: none;
  padding: 10%;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
}

#nav__logo {
  font-family: "Righteous", cursive;
  align-self: center;
  color: rgb(0, 136, 255);
}

.nav__element--searchlog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: inherit;
}
.nav__element--discover {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Project Form Styling */

.projectForm {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.projectForm fieldset {
  border: none;
}

.projectForm legend {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  text-align: center;
}

.projectForm label {
  display: block;
  margin-bottom: 8px;
}

.projectForm input,
.projectForm textarea,
.projectForm select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.projectForm input:focus,
.projectForm textarea:focus,
.projectForm select:focus {
  background: #d2d9dd;
}

.projectForm select {
  height: 35px;
}

.projectForm__submit {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.projectForm button:hover {
  background: #3a59a7;
}

.projectForm__error {
  color: red;
  font-size: 0.75em;
  margin: 0.5em;
}

input[type="number"] {
  text-align: right;
}

/* Search Page Styling*/
.searchPage__form {
  box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25);
  height: 5em;
  border: 0;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPage__bar--element {
  color: black;
  text-decoration: none;
  padding: 0.25em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.25em;
}

.searchPage__bar--element input,
.searchPage__bar--element select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  /* margin: 0;
  outline: 0; */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  /* margin-bottom: 30px; */
}

.searchPage__bar--button {
  /* position: relative; */
  display: flex;
  padding: 0.5em 1em 0.5em 1em;
  color: #fff;
  margin: 0.5em;
  background: #5581ee;
  font-size: 1.5em;
  font-style: normal;
  width: auto;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  border-width: 1px;
  height: auto;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/*Search Page */
.searchPage__projects--container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.searchPage__project--scrollTile {
  flex: 1 0 33%;
}

/*Project Page */
#projectTitle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#projectTagline {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
